{{- $text := .Text -}}
{{- $re := `(?s)^<p>\s*\[!([A-Z]+)\]\s*` -}}
{{- $m := findRESubmatch $re $text -}}
{{- if and $m (ge (len $m) 2) -}}
  {{- $rawType := index $m 1 -}}
  {{- $type := lower $rawType -}}
  {{- $label := $rawType -}}
  {{- $body := replaceRE $re "<p>" $text -}}
  <blockquote class="callout callout-{{ $type }}">
    <div class="callout-title">{{ $label }}</div>
    <div class="callout-body">{{ $body | safeHTML }}</div>
  </blockquote>
{{- else -}}
  <blockquote>{{ $text | safeHTML }}</blockquote>
{{- end -}}
